# SPDX-License-Identifier: Apache-2.0

config SOC_ELEMRV_VEXRISCV
	bool
	help
	  ElemRV Hydrogen VexRiscv RV32IC SoC with LiteX-compatible peripherals.

config SOC
	default "elemrv_vexriscv" if SOC_ELEMRV_VEXRISCV
